<div style="background-image: url(); background-repeat: no-repeat; background-size: cover; background-blend-mode:multiply;opacity: 0.5; height:100vh;"
    class="container w-11/12  m-auto bg-green-200">
    <div class="row w-10/12 m-auto h-auto  bg-green-400">
        <div class="menu w-full h-16 flex justify-between items-center border-b-4 border-b-purple-900 bg-white">
            <div class="logo w-2/12">
                <img class="w-16 h-16 p-2" src="./images/logo.png" alt="">
            </div>
            <div class="munu-li w-5/12 h-full pt-3">
                <ul class="flex justify-evenly  ">
                    <li class="bg-purple-800 text-white mx-1 py-1 px-1   font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a class="a" href="/"><i class="fas fa-school inline"></i> School</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/students"><i class="fas fa-user inline"></i> Student</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/class"><i class="fa-solid fa-door-open"></i> Class</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/contact"><i class="fa-solid fa-id-badge"></i> Contact</a></li>
                </ul>
            </div>
            <div class="search_bar">
                <form action="" class="px-3 w-5/12 flex justify-start items-center">
                    <i class="fas fa-search bg-purple-700 py-2 px-3 text-white"></i>
                    <input type="search" name="" class=" border-4 border-purple-900 focus:outline-none" value="">
                </form>
            </div>
        </div>

        <!-------------------------------- top header complate -->
        <div class="w-100 mt-4
        ">
            <img class=" bg-cover" src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg?w=2000" alt="">
        </div> 
    </div>
</div>