<div style="background-image: url(); background-repeat: no-repeat; background-size: cover; background-blend-mode:multiply;opacity: 0.5; height:100vh;"
    class="container w-11/12  m-auto bg-green-200">
    <div class="row w-10/12 m-auto h-auto  bg-green-400">
       

        <!-------------------------------- top header complate -->
        <div class="w-100 mt-4
        ">
            <img class=" bg-cover" src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg?w=2000" alt="">
        </div> 
    </div>
</div>