<div style="background-image: url(); background-repeat: no-repeat; background-size: cover; background-blend-mode:multiply;opacity: 0.5; height:900px;"
    class="container w-11/12  m-auto bg-green-200">
    <div class="row w-10/12 m-auto h-auto  bg-purple-900">
        <div class="menu w-full h-16 flex justify-between items-center border-b-4 border-b-purple-900 bg-white">
            <div class="logo w-2/12">
                <img class="w-16 h-16 p-2" src="/images/logo.png" alt="">
            </div>
            <div class="munu-li w-5/12 h-full pt-3">
                <ul class="flex justify-evenly  ">
                    <li class="bg-purple-800 text-white mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/"><i class="fas fa-school inline"></i> School</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/students"><i class="fas fa-user inline"></i> Student</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/class"><i class="fa-solid fa-door-open"></i> Class</a></li>
                    <li class="bg-purple-800 text-white  mx-1 py-1 px-1  font-bold w-24 text-center h-full hover:transition hover:bg-white hover:font-bold hover:text-purple-900"><a href="/contact"><i class="fa-solid fa-id-badge"></i> Contact</a></li>
                </ul>
            </div>
            <div class="search_bar">
                <form action="" class="px-3 w-5/12 flex justify-start items-center">
                    <i class="fas fa-search bg-purple-700 py-2 px-3 text-white"></i>
                    <input type="search" name="" class=" border-4 border-purple-900 focus:outline-none" value="">
                </form>
            </div>
        </div>
        <!------------------------------------------------- student form section -->
        <div class="student w-full p-5 h-auto flex flex-wrap justify-center ">
            <div class="title text-center h-10 w-full bg-purple-800 flex justify-between px-4 items-center">
                <a href="/students" class=" text-purple-900 inline-block px-3 bg-white py-2">BACK TO STUDENTS</a>
                <h1 class="text-white">STUDENT FORM</h1>
            </div>
           <div>
            <!--------------------------------------------------------------- form  -->
            <form action="/students/Studentform" method="post" enctype="multipart/form-data">
                <div class="my-3">
                    <label for="" class=" block text-white font-bold uppercase focus:outline-none focus:border-none">Name</label>
                    <input class="w-full px-2" type="text" name="name">
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Class</label>
                    <select name="stu_class" class="w-full px-2" id="">
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                        <option value="Three">Three</option>
                        <option value="Four">Four</option>
                        <option value="Five">Five</option>
                        <option value="Six">Six</option>
                        <option value="Seven">Seven</option>
                        <option value="Eight">Eight</option>
                        <option value="Nine">Nine</option>
                        <option value="Ten">Ten</option>
                    </select>
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Age</label>
                    <input class="w-full px-2" type="number" name="age">
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Cell</label>
                    <input class="w-full px-2" type="number" name="cell">
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Gender</label>
                    <select name="gender" id="">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Email</label>
                    <input class="w-full px-2" type="email" name="email">
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Location</label>
                    <select class="w-full px-2" name="location" id="">
                        <option value="Mirpur">Mirpur</option>
                        <option value="Badda">Badda</option>
                        <option value="Uttara">Uttara</option>
                        <option value="Bonani">Bonani</option>
                        <option value="Motijil">Motijil</option>
                        <option value="Dhaka">Dhaka</option>
                        <option value="Roungpur">Roungpur</option>
                    </select>
                </div>
                <div class="my-3">
                    <label for="" class="text-white font-bold uppercase focus:outline-none focus:border-none">Photo</label>
                    <input  class="w-full text-white" type="file" name="photo">
                </div>
                <button type="submit" class="w-full bg-white py-3 hover:bg-purple-700 transition hover:text-white">ADD NEW STUDENT</button>
            </form>
           </div>
   
        </div>
    </div>
</div>