<div style="background-image: url(); background-repeat: no-repeat; background-size: cover; height:900px;"
    class="container w-11/12  m-auto bg-green-200">
    <div class="row w-10/12 m-auto h-auto  bg-green-400">
       
        <!------------------------------------------------- student section -->
        <div class="student w-full p-5 h-auto flex flex-wrap justify-center  ">
            <div class="w-full h-12 bg-purple-900 text-center border-b-4 border-b-white">
                <h1 class="text-white font-bold mt-2"><%= user.first_name %> <%= user.last_name %>  </h1>
            </div>
           <div class="w-full flex">
            <!-- sidebar -->
            <div class="w-4/12 h-full bg-purple-500 mb-3 shadow-2xl border-2 border-white mt-5" >
                <img src="/images/<%= user.photo %> " class="w-52 mt-3  h-52 rounded-full m-auto border-4 border-white " alt="">
                <ul class="mt-5">
                    <li class="my-2 bg-purple-800 text-white px-5 py-3 hover:bg-white hover:text-purple-900 transitions font-bold"><a href="/students/profile"> <i class="fas fa-user"></i> Profile</a></li>
                    <li class="my-2 bg-purple-800 text-white px-5 py-3 hover:bg-white hover:text-purple-900 transitions font-bold"><a href="/students/edit"> <i class="fas fa-edit"></i> Edit</a></li>
                    <li class="my-2 bg-purple-800 text-white px-5 py-3 hover:bg-white hover:text-purple-900 transitions font-bold"><a href=""> <i class="fas fa-lock"></i> Change Password</a></li>
                    <li class="my-2 bg-purple-800 text-white px-5 py-3 hover:bg-white hover:text-purple-900 transitions font-bold"><a href=""> <i class="fas fa-camera"></i> Profile Photo</a></li>
                    <li class="my-2 bg-purple-800 text-white px-5 py-3 hover:bg-white hover:text-purple-900 transitions font-bold"><a href="/logout"> <i class="fa-solid fa-right-from-bracket"></i> Log Out</a></li>
                   
                </ul>
            </div>
            <!-- body  -->
            <div class="w-8/12 h-full bg-green-500 ml-3 mt-5"> </div>
           </div>
   
        </div>
    </div>
</div>